.mesa {
    margin-top: 50px;
    filter: invert(100%);
    
}
.mesa input {
    vertical-align: middle;
    max-width: 200px;
}

.btn-back {
    position: absolute;
    bottom: 80px;
    left: 100px;
   
}

.h3-white{
    color: white!important;
}

.mesa .h3-white {
    color: white
}
