.mesa {
    margin-top: 50px;
    filter: invert(100%);
    
}
.mesa input {
    vertical-align: middle;
    max-width: 200px;
}

<<<<<<< HEAD

=======
.btn-back {
    position: absolute;
    bottom: 80px;
    left: 100px;
   
}
>>>>>>> 4e778d32bb905da70358c515e916d7c2744db1d9
